table.POST {
    width:100%;
    border-collapse:collapse;
}
table.POST caption {
    padding:10px;
    font-size:24px;
    background-color:#f3f6f9;
}
table.POST thead th {
    padding:5px 0px;
    color:#fff;
    background-color:#915957;
}
table.POST tbody td {
    padding:5px 0px;
    color:#555;
    text-align:left;
    background-color:#fff;
    border-bottom:1px solid #915957;
}
table.POST tfoot td {
    padding:5px 0px;
    text-align:center;
    background-color:#d6d6a5;
}

.custom-div{
    border:1px solid;background-color:#eff7ff;padding: 10px;
 }
.title-div{
    border:1px solid;background-color:#66b3ff;padding: 10px;
}
.section-div{
    border:1px solid;background-color:#d2e9ff;padding: 10px;
}
.centent-div{
    border:1px solid;background-color:#ffdf7e;padding: 10px;
}

.check-div{
    border:1px solid;background-color:lightpink;padding: 10px;
}
